<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layoutUsers">
<head>
    <title>Questions</title>
    <link rel="stylesheet" type="text/css"
          href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css"
          href="../static/css/style.css"
          th:href="@{/css/style.css}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p></p>


<div layout:fragment="content">
    <div class="tableCenter">
        <!--<form th:action="@{/forms/questions}" method="get">
            <label>mot clé</label>
            <input type="text" name="mc" th:value="${motCle}"/>
            <button class="btn btn-primary">chercher</button>
        </form>-->
        <div class="container-fluid">
            <table class="table">
                <caption style="text-align: center; font-size:25px;font-family:'Arial Black',fantasy;color:#16030e;"
                         th:text="${formOfUser.titre}" align="center"></caption>
                <tr>
                    <th > Nom </th>
                    <th > Prenom </th>
                    <th > Email </th>
                    <th th:each="q:${formOfUser.questions}" th:text="${q.contenu}"></th>
                </tr>
                <tr >
                    <td  th:text="${userIn.getName()}"></td>
                    <td  th:text="${userIn.getLastName()}"></td>
                    <td  th:text="${userIn.getEmail()}"></td>
                    <td  th:each="answer:${answersByUser}" th:text="${answer.response}"></td>
                </tr>
            </table>

            <!--<table class="table table-condensed" width="500">
                <thead>
                <div class="col-sm-4">
                    <div class="well">
                        <span> Nom :</span>
                        <p th:text="${userIn.getLastName()}"></p>
                    </div>
                    <div class="well">
                        <span> Prénom :</span>
                        <p th:text="${userIn.getName()}"></p>
                    </div>
                    <div class="well">
                        <span> Email :</span>
                        <p th:text="${userIn.getEmail()}"></p>
                    </div>
                </div>
                </thead>
                <tbody>
                <div class="info" th:each="answer,itemStat:*{answersByUser}">

                    <tr th:each="question,stat:${formOfUser.questions}">
                        <div th:if="${itemStat.index==stat.index}">
                            <td  th:text="${stat.index+1}+'- '+ ${question.contenu}"
                                style="font-size:25px;font-family:'Arial Black',fantasy;color:#16030e;
                            white-space: pre-line"
                            ></td>
                        </div>
                    </tr>

                    <tr>
                        <div class="form-group">
                            <td  th:text="*{answer.response}"
                                style="font-size:25px;font-family:verdana,fantasy;color:#16030e;
                                white-space: pre-line"
                            ></td>


                        </div>
                    </tr>
                </div>
                </tbody>
            </table>

-->
            <!--<ul class="nav nav-pills" >
        <li th:class="${pageCourant}==${status.index} ? 'active':''"
            th:each="page,status:${allPages}">
        <a th:href="@{/forms/questions(page=${status.index},size=${size},mc=${motCle})}"
           th:text="${status.index}"></a>
        </li>
    </ul>-->
        </div>
    </div>
</div>
</div>
</body>
</html>