<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:text-align="http://www.w3.org/1999/xhtml"
      layout:decorator="layoutUsers">
<head>
    <title>Questions</title>
    <link rel="stylesheet" type="text/css"
          href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css"
          href="../static/css/style.css"
          th:href="@{/css/style.css}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p></p>


<div layout:fragment="content">
    <div class="tableCenter">
        <!--<form th:action="@{/forms/questions}" method="get">
            <label>mot clé</label>
            <input type="text" name="mc" th:value="${motCle}"/>
            <button class="btn btn-primary">chercher</button>
        </form>-->
        <div class="container-fluid">

            <table class="table">

                <caption  style="text-align: center; font-size:25px;font-family:'Arial Black',fantasy;color:#16030e;"  th:text="${formualaireOfUsers.titre}"></caption>

                <tr>
                    <th > Nom </th>
                    <th > Prenom </th>
                    <th > Email </th>
                    <th th:each="q:${questions}" th:text="${q.contenu}"></th>
                </tr>

                <tr th:each="mapUserReponses : ${usersMapByFormulaire}">
                    <td th:text="${mapUserReponses.key.getName()}"></td>
                    <td th:text="${mapUserReponses.key.getLastName()}"></td>
                    <td th:text="${mapUserReponses.key.getEmail()}"></td>
                    <td th:each="answers:${mapUserReponses.value}" th:text="${answers.response}"></td>
                </tr>

            </table>
        </div>
    </div>
</div>
</body>
</html>