<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      >
<head>
    <title>Questions</title>
    <link rel="stylesheet" type="text/css"
          href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p></p>

    <div class="container">
        <h1 th:text="${questionsByForm.get(0).getFormulaire().titre}" th:name="titre" align="center"></h1>

        <blockquote class=" well">
            <h4 style="color: #2b542c" th:text="${questionsByForm.get(0).getFormulaire().description}"></h4>

        </blockquote>
        <table class="table">
            <thead>
            <tr class="active">
                <th>N°</th>
                <th>Question</th>
            </tr>
            </thead>
            <tbody>
            <tr class="info" th:each="questionForForm,status:${questionsByForm}">
                <td width="10%" th:text="${status.index+1}"></td>
                <td width="90%" th:text="${questionForForm.contenu}"></td>
            </tr>
            </tbody>
            <tfoot>

            </tfoot>
        </table>
        <form th:action="@{'/formulaire/'+${idForm}}" method="get">
            <button type="submit" style="float: right" class="btn btn-success">envoyé</button>
        </form>
        <form th:action="@{'/forms/questions/'+${idForm}}" method="get">
            <button type="submit" style="float: left" class="btn btn-danger">retour</button>
        </form>
    </div>
</div>
</body>
</html>