<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layoutQuestionsByForm" th:with="redouane=${questionAttribute.getId()}"
>
<head>
    <title>Ajout des questions</title>
    <link rel="stylesheet" type="text/css"
          href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}">

    <link rel="stylesheet" type="text/css"
          href="../static/css/style.css"
          th:href="@{/css/style.css}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div layout:fragment="content">
    <div class="spacer col-md-6 col">
        <div class="panel panel-default">
            <div class="panel-heading">Ajouter une question</div>
            <div class="panel-body">
                <form th:action="@{'/forms/questions/save/'+${questionAttribute.getFormulaire().getId()}}"
                      method="post">
                    <div class="form-group">
                        <label class="control-label">Question :</label>
                        <textarea class="form-control" cols="7" th:text="${questionAttribute.contenu}" name="contenu"
                                  placeholder="Ecrivez votre question"></textarea>
                        <span class="red" th:erros="${questionAttribute.contenu}"></span>
                    </div>
                    <div>
                        <button type="submit"
                                class="btn btn-info">Ajouter
                        </button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
</body>
</html>
