<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layoutUserFormulaire"
>
<head>
    <title>Questions</title>
    <link rel="stylesheet" type="text/css"
          href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="../static/css/style.css"
          th:href="@{/css/style.css}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


</head>


<body style="background-color:#ffffff;">
<p></p>

<div layout:fragment="content">


<div align="center">
    <img th:src="@{/css/zenika.png}" class="img-rounded" alt="Zenika">
    <div class="container">
        <h1 th:text="${formulaire.titre}" th:name="titre" align="center"></h1>

        <h2 style="color: #9b1211" th:text="${formulaire.description}"></h2>

        <form th:action="@{'/formulaire/'+${formulaire.id}+'/send'}" th:object="${responseWrapper}" method="post">

            <table class="table-condensed">
                <thead>
                <tr class="active">
                </tr>
                </thead>
                <tbody>
                <div class="info" th:each="answer,itemStat:*{answers}">


                    <tr th:each="question,stat:${AllQuestionsByForm}">
                        <div th:if="${itemStat.index==stat.index}">
                            <td th:text="${stat.index+1}+'- '+ ${question.contenu}"
                                style="font-size:25px;font-family:verdana,fantasy;color:#16030e;"
                            ></td>
                        </div>
                    </tr>


                    <tr>
                        <div class="form-group">


                            </td>
                            <td class="areaTextStyle">
                                <label class="control-label">Réponse:</label>
                                <textarea th:id='1' class="form-control " cols="100" placeholder="Ecrivez votre reponse"
                                          rows="10"
                                          style="font-family:courier,serif; font-size: 20px;"

                                          name="response"

                                          th:field="*{answers[__${itemStat.index}__].response}">

                                </textarea>

                            </td>
                        </div>
                    </tr>
                </div>
                </tbody>
                <tfoot>

                </tfoot>
            </table>


            <button type="submit" style="float: right" class="btn btn-success">envoyé</button>

        </form>
    </div>
</div>
</div>
</body>
</html>
