<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        >
<head>
    <meta charset="utf-8">
    <title>Questionnaire</title>
    <link rel="stylesheet" type="text/css"
          href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}">

    <link rel="stylesheet" type="text/css"
          href="../static/css/style.css"
          th:href="@{/css/style.css}">
</head>

<body>
<header>
    <!--
        bar de navigation avec coleur par default
    -->
    <div class="navbar navbar-inverse">
        <!--        menu fluid-->
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/admin/forms}">Formulaires</a></li>
                <li><a th:href="@{/admin/formsUsers}">Utilisateurs</a></li>

            </ul>

            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a th:href="@{/login?logout}" th:inline="text">
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<section layout:fragment="content">

</section>
<footer class="navbar-fixed-bottom">
    <hr/>
    <div class="container text-center">
        <small class="text-muted credit" style="color:#ff1816">
            copyright Zenika @2019
        </small>
    </div>

</footer>

</body>
</html>