<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layoutQuestionsByForm">
<head>
    <title>Questions</title>
    <link rel="stylesheet" type="text/css"
          href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p></p>

<div layout:fragment="content">
    <div class="container">
        <!--<form th:action="@{/forms/questions}" method="get">
            <label>mot clé</label>
            <input type="text" name="mc" th:value="${motCle}"/>
            <button class="btn btn-primary">chercher</button>
        </form>-->
    </div>
    <div class="container">
        <h2>Questions</h2>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Question</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="contenu,status:${questionsForAForm}">
                <td th:text="${status.index+1}"></td>
                <td th:text="${contenu.contenu}"></td>
                <td><a
                        th:href="@{'/forms/'+${idForm}+'/question/edit/'+${contenu.id}}">edit
                </a>
                </td>
                <td>
                    <a onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette contenu ?')"
                       th:href="@{'/forms/'+${idForm}+'/question/delete/'+${contenu.id}}">
                        Delete
                    </a>
                </td>

            </tr>
            </tbody>
            <tfoot>

            </tfoot>
        </table>
        <form th:action="@{'/form/'+${idForm}+'/done'}" method="get">
            <button type="submit" style="float: right" class="btn btn-success">Done</button>

        </form>

        <!--<ul class="nav nav-pills" >
    <li th:class="${pageCourant}==${status.index} ? 'active':''"
        th:each="page,status:${allPages}">
    <a th:href="@{/forms/questions(page=${status.index},size=${size},mc=${motCle})}"
       th:text="${status.index}"></a>
    </li>
</ul>-->
    </div>
</div>
</body>
</html>