<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>confirmation</title>
    <link rel="stylesheet" type="text/css"
          href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}">

    <link rel="stylesheet" type="text/css"
          href="../static/css/style.css"
          th:href="@{/css/style.css}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <div class="tableCenter" >
        <h1 style="color:#2f5bff" th:inline="text" th:align="center">
                merci pour vos réponses
            nous allons vous répondre dans les meilleurs délais

        </h1>
    </div>
</body>
</html>
